{% extends "force_app/common/base.html" %}
{% load static %}


{% block title %}
  <title>Force app</title>
{% endblock title %}


{% block topnav %}
  {% include "force_app/common/topnav.html" %}
{% endblock topnav %}


{% block header %}
  {% include "force_app/common/header.html" %}
{% endblock header %}


{% block page_content %}
  <div class="container-lg pt-5">
    <canvas id="force-chart" width="5" height="2"></canvas>
  </div>
{% endblock page_content %}


{% block css %}
  <!-- Chart.js CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'force_app/css/Chart.css' %}">
{% endblock css %}


{% block javascript %}
  <!-- Chart.js -->
  <script type="text/javascript" src="{% static 'force_app/js/Chart.js' %}"></script>

  <!-- Custom JavaScript -->
  <script type="text/javascript" src="{% static 'force_app/js/force_chart.js' %}"></script>
{% endblock javascript %}
